* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding-left: 120px;
}

.primero h1 {
  font-size: 80px;
  padding-bottom: 40px;
}

.primero p {
  color: rgb(88, 88, 88);
  padding-bottom: 40px;
  line-height: 27px;
  font-size: 20px;
}

.primero button {
  padding: 15px 40px;
  background-color: rgb(27, 27, 27);
  color: aliceblue;
  border: none;
  border-radius: 10px;
}

.secundarios {
  color: rgb(88, 88, 88);
}

.secundarios h1 {
  font-size: 25px;
}

.secundarios p {
  line-height: 27px;
  font-size: 20px;
}