body {
  font-family: Arial, sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.texto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 190px;
}

.texto h1 {
  font-size: 70px;
}

.texto button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.imagen {
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.imagen img {
  width: 1000px;
}