* {
    padding: 0%;
    margin: 0%;
}

body {
    background-image: url(imagenes/carta10-img1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section h1 {
    display: flex;
    align-self: center;
}

section p {
    display: flex;
    align-self: center;
}

section button {
    align-self: center;
    display: flex;
    width: 250px;
}