* {
    padding: 0%;
    margin: 0%;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section h1 {
    display: flex;
    align-self: center;
}

section p {
    display: flex;
    align-self: center;
}

section button {
    align-self: center;
    display: flex;
    width: 250px;
}